body{
background-color:#033300;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#game{
border:1px solid #ffffff;

}

.instructions{
color:#ffffff;
font-size:18pt;
margin:0 0;
font-family:verdana;
}